# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
note.txt
k.js
TOBEUSED.jsx

# Build directories
# If you are using a build system, add the build output directory here
# For example, if you are using Webpack, add the following line:
# build/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt
*.env
